table {/* reset width */
	width: auto;
}

/* Horizontal drawing (default) styles */

/* Draw the lines */
.jOrgChart .line {
	height: 10px;
	width: 1px;
}

.jOrgChart .down {
	background-color:#FF5722;	
	margin: 0px auto;
}

.jOrgChart .top {
	border-top: 1px solid #FF5722;
}

.jOrgChart .left {
	border-right: 1px solid #FF5722;
}

.jOrgChart .right {
	border-left: 1px solid #FF5722
}

/* node cell */
.jOrgChart td {
	text-align: center;
	vertical-align: top;
	padding: 0;
}

/* The node */

.jOrgChart .node.selected {
	background-color: #3399FF !important;
	border: 1px dotted black;
	
	
	
   
    
   
}

.jOrgChart .node {
	border-top: double 5px #FFEB3B;
    
	border-radius: 3px;
	background-color: #007bff;
	color: #FFF;
	display: inline-block;
	width: 100px; 		/* vertical type node width */
	min-height: 60px;	/* vertical type node min-height */
	z-index: 10;
	margin: 0 2px;
	cursor: pointer;
}

/* support vertical draw child nodes */
.jOrgChart .node.vertical { 
	float: left;
}

.jOrgChart .cover {
	position: absolute;
	cursor: pointer;
	margin-top: -6px;
	margin-left: -5px;
}

/* Vertical drawing styles */

.jOrgChart .multi-tree { 
	margin: 0; 
	float: left;
}

.jOrgChart .multi-tree .content {
	color: black;
	background-color: white;
	text-decoration: none;
	border-top: double 5px #FFEB3B;
	border-radius: 3px;
	width: 100px;		/* horizontal type node width */
	min-height: 60px;	/* horizontal type node min-height */
	cursor: pointer;
}

.jOrgChart .multi-tree .selected {
	background-color: #3399FF !important;
	border: 1px dotted black;
}

.jOrgChart .multi-tree span {
	width: 109px;
	text-decoration: none;
	display: block;
	margin: 0 0 0 1.2em;
	padding-top: 10px;
	background-color: transparent;
	border: solid #FF5722;;   
	border-width: 0 0 1px 1px;
}

.jOrgChart .multi-tree span .content  {
	display: block; 
	position: relative;
	top: .95em;
	background-color: #009688;
	color: #FFF;
	margin: 0 0 .2em .7em;
	padding: 0;
}

.jOrgChart .multi-tree ul, .multi-tree li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.jOrgChart .multi-tree ul li {
	line-height: 1.2em;
}

.jOrgChart .multi-tree ul li ul li {
	margin: 0 0 0 1.2em;
	border-left: 1px solid #FF5722;; /* vertical node connector line */
}

/* if node is last then need to remove left connector */
.jOrgChart .multi-tree li.last ul li {
	border: none;
}
